<h2 class="sub-header">General Settings</h2>

<form method="post" class="form-horizontal" role="form" autocomplete="off">
  <div class="form-group">
    <label class="control-label col-sm-2" for="title">Site Title</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="title" id="title" value="{{ title }}" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="tagline">Tagline</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="tagline" id="tagline" value="{{ tagline }}">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="theme">Theme</label>
    <div class="col-sm-9">
      <select class="form-control" name="theme" id="theme">
      {% for theme in themes %}
        <option value="{{ theme }}"{% if currentTheme == theme %} selected{% endif %}>{{ theme }}</option>
      {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="tagline">Front page displays</label>
    <div class="col-sm-9">
      <div class="radio">
        <label><input name="show_on_front" type="radio" value="posts" class="tog"{% if show_on_front == "posts" %} checked="checked"{% endif %}/>
        Your latest posts</label>
      </div>
      <div class="radio">
        <label><input name="show_on_front" type="radio" value="page" class="tog"{% if show_on_front == "page" %} checked="checked"{% endif %}/>
        A static page (select below)</label>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="page_on_front">Front page:</label>
        <div class="col-sm-9">
          <select class="form-control" name="page_on_front" id="page_on_front">
            <option value="0">&mdash; Select &mdash;</option>
          {% for page in pages %}
            <option value="{{ page.path }}"{% if page_on_front == page.path %} selected{% endif %}>{{ page.name }}</option>
          {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="page_for_posts">Posts page:</label>
        <div class="col-sm-9">
          <select class="form-control" name="page_for_posts" id="page_for_posts">
            <option value="0">&mdash; Select &mdash;</option>
          {% for page in pages %}
            <option value="{{ page.path }}"{% if page_for_posts == page.path %} selected{% endif %}>{{ page.name }}</option>
          {% endfor %}
          </select>
        </div>
      </div>
  </div>
  <div class="form-group">
    <button type="submit" name="submit" value="Submit" class="btn">Save Changes</button>
  </div>
</form>
