<form method="post" class="form" role="form" autocomplete="off">
  <h2 class="sub-header">{% if post_type == "page" %}{% if editting %}Edit Page{% else %}Add New Page{% endif %}{% else %}{% if editting %}Edit Post{% else %}Add New Post{% endif %}{% endif %}
  <button type="submit" name="submit" class="btn btn-info pull-right">Publish</button></h2>

  <div class="form-group">
    <label class="control-label" for="title">Title</label>
    <input type="text" class="form-control" name="title" id="title" placeholder="Enter title here" value="{{ title }}" required>
  </div>
  <div class="form-group">
    <label class="control-label" for="path">Path</label> {{ c.req.base }}{{ date }}
    <input type="text" class="form-control" name="path" id="path" value="{{ path }}">
  </div>
  <div class="form-group">
    <div id="edit-content-editor-container" class="editor-container">
      <textarea class="editor-area" rows="20" tabindex="2" autocomplete="off" cols="40" name="edit-content" id="edit-content">{{ edit_content }}</textarea>
    </div>
  </div>
</form>

<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>
    tinymce.init({
        content_css: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
        plugins: 'autoresize, code, image, link, media',
        theme:"modern",skin:"lightgray",language:"en",
        formats:{
            alignleft: [
                    {selector: 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li', styles: {textAlign:'left'}},
                    {selector: 'img,table', classes: 'alignleft'}
            ],
            aligncenter: [
                    {selector: 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li', styles: {textAlign:'center'}},
                    {selector: 'img,table', classes: 'aligncenter'}
            ],
            alignright: [
                    {selector: 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li', styles: {textAlign:'right'}},
                    {selector: 'img,table', classes: 'alignright'}
            ],
            strikethrough: {inline: 'del'},
        },
        relative_urls:false,remove_script_host:false,convert_urls:false,browser_spellcheck:true,fix_list_elements:true,
        entities:"38,amp,60,lt,62,gt",entity_encoding:"raw",keep_styles:false,
        preview_styles:"font-family font-size font-weight font-style text-decoration text-transform",end_container_on_empty_block:true,
        selector:"#edit-content",
        resize:false,menubar:false,indent:false,
        toolbar1:"bold,italic,strikethrough,bullist,numlist,blockquote,hr,alignleft,aligncenter,alignright,link,unlink,code,spellchecker,fullscreen,media",
        toolbar2:"formatselect,underline,alignjustify,forecolor,pastetext,removeformat,charmap,outdent,indent,undo,redo",
        toolbar3:"",
        toolbar4:"",tabfocus_elements:":prev,:next",body_class:"edit-content locale-en",
        gecko_spellcheck:"false",
        });
</script>
