{% if admin %}
<a class="mlink btn" href="admin/users">Admin</a>
{% endif %}

<div class="row">
  <div class="col-sm-4">
    {% if credits %}
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Créditos</h3>
      </div>
    <div class="panel-body">
        Você possuí {{ credits }} créditos.
    </div>
    {% else %}
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Créditos</h3>
      </div>
    <div class="panel-body">
        Você não possuí créditos no momento
    </div>
    {% endif %}
  </div>
</div>
